html{
    font-size: 62.5%; /* Unidade de media REM* 1rem = 10px */
}
body{
    font-family: "Inter",sans-serif;
    font-size: 1.5rem;
    color: #fff;
}
.background-fixed{
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 1;
    background: url("../../img//backgroud/background.png") no-repeat;
    background-size: cover;
}
.wrapper.header{
    width: 100%;
    height: 6.5rem;
    position: relative;
    z-index: 2;
    background-color: transparent;
    background-color: rgba(0, 0, 0, 0.3);
}
.wrapper{
    position: relative;
    z-index: 3;
}